.container button {
    background-color: #2FBA90;
    color: white;
}

.container {
    margin-left: 10px;
}

.buttonsContainer {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.icon {
    font-size: 25px;
}
